<wm-page data-ng-controller="AddBookPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.bookData.dataSet.id > 0 ? 'Edit Book' : 'Add Book'" backbuttoniconclass="wi wi-arrow-left" searchbutton="false" defaultview="actionview"> 
        <wm-button class="btn-default" caption="" type="button" name="button2" iconclass="fa fa-check" on-click="Variables.saveBook.createRecord()" show="false"></wm-button> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" class="add-book-page {{Variables.bookData.dataSet.id > 0 ? 'edit-mode' : ''}}"> 
            <wm-segmented-control name="addBookSegmentedControl" show="true"> 
                <wm-segment-content caption="SCAN" name="scanSegment"> 
                    <wm-container name="container2" horizontalalign="center" padding="40px unset unset unset"> 
                        <wm-barcodescanner name="barcodescanner" on-success="barcodescannerSuccess($event, $scope)" iconclass="fa fa-barcode" title="Scan Barcode" caption="Scan Book Barcode" class="btn-lg btn-secondary scan-btn" iconsize="3em" textalign="center" display="inline-block" bordercolor="#d9534f" borderstyle="solid" borderwidth="2px"></wm-barcodescanner> 
                    </wm-container> 
                </wm-segment-content> 
                <wm-segment-content caption="MANUAL" name="manualSegment" loadmode="after-delay" loaddelay="1000"> 
                    <wm-container name="container1" horizontalalign="center" backgroundrepeat="no-repeat" backgroundposition="center center" backgroundsize="auto 100%" margin="20px unset"> 
                        <wm-picture name="picture1" picturesource="bind:Variables.bookData.dataSet.imageUrl" on-click="Variables.takeBookPicture.invoke()" width="100pt"></wm-picture> 
                    </wm-container> 
                    <wm-container name="addBookContainer" show="true"> 
                        <wm-liveform name="addBookForm" defaultmode="Edit" insertmessage="Book added successfully" novalidate="false" on-success="addBookFormSuccess($event, $operation, $data);Variables.allBooks.listRecords();Variables.readingBooks.listRecords();Variables.mywishlist.listRecords();Variables.readBooks.listRecords();addBookFormSuccess1($event, $operation, $data);Variables.LIBRARYExecuteUpdateCategoryPicture.invoke();" show="true" captionposition="left" dataset="bind:Variables.LIBRARYBookData.dataSet" captionalign="left" horizontalalign="center" paddingunit="em" on-beforeservicecall="addBookFormBeforeservicecall($event, $operation, $data)" updatemessage="Book updated successfully" class="panel-default"> 
                            <wm-layoutgrid name="layoutgrid2"> 
                                <wm-gridrow name="gridrow23"> 
                                    <wm-gridcolumn name="gridcolumn3" columnwidth="12"> 
                                        <wm-form-field name="form_field1" displayname="Title" show="true" primary-key="false" generator="assigned" key="title" type="string" readonly="false" required="true" widget="text" maxchars="255" class="titleField" placeholder="Enter value" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.title"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow24"> 
                                    <wm-gridcolumn name="gridcolumn4" columnwidth="12"> 
                                        <wm-form-field name="form_field2" displayname="Author" show="true" primary-key="false" generator="assigned" key="author" type="string" readonly="false" required="false" widget="text" maxchars="255" placeholder="Enter value" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.author"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow25"> 
                                    <wm-gridcolumn name="gridcolumn5" columnwidth="12"> 
                                        <wm-form-field name="form_field3" displayname="Publisher" show="true" primary-key="false" generator="assigned" key="publisher" type="string" readonly="false" required="false" widget="text" maxchars="255" placeholder="Enter value" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.publisher"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow26"> 
                                    <wm-gridcolumn name="gridcolumn6" columnwidth="12"> 
                                        <wm-form-field name="form_field4" displayname="Isbn" show="true" primary-key="false" generator="assigned" key="isbn" type="string" readonly="false" required="false" widget="text" maxchars="255" placeholder="Enter value" on-change="isbnChange($event, $scope)" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.isbn"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow27"> 
                                    <wm-gridcolumn name="gridcolumn7" columnwidth="12"> 
                                        <wm-form-field name="form_field5" displayname="Category" show="true" primary-key="false" generator="assigned" key="category" type="list" is-related="true" readonly="false" required="true" widget="select" defaultvalue="bind:Variables.bookData.dataSet.category.cid" placeholder="" datafield="cid" displayfield="name" dataset="bind:Variables.LIBRARYCategoryData.dataSet"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow28"> 
                                    <wm-gridcolumn name="gridcolumn11" columnwidth="12"> 
                                        <wm-form-field name="form_field6" displayname="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" readonly="false" required="false" widget="textarea" maxchars="2000" class="description" placeholder="Enter value" widget-type="Textarea" defaultvalue="bind:Variables.bookData.dataSet.description"></wm-form-field> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                            <wm-form-field name="form_field11" displayname="Tenantid" show="false" primary-key="false" generator="assigned" key="tenantid" type="string" readonly="false" required="false" widget="text" maxchars="255" placeholder="Enter value" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.tenantid"></wm-form-field> 
                            <wm-form-field name="form_field10" displayname="Rating" show="false" primary-key="false" generator="assigned" key="rating" type="integer" readonly="false" required="false" step="1" widget="text" defaultvalue="bind:Variables.bookData.dataSet.rating" placeholder="Enter value" widget-type="Text" inputtype="text"></wm-form-field> 
                            <wm-form-field name="form_field9" displayname="Read Status" show="false" primary-key="false" generator="assigned" key="readStatus" type="integer" readonly="false" required="false" step="1" widget="text" defaultvalue="bind:Variables.bookData.dataSet.readStatus" placeholder="Enter value" widget-type="Text" inputtype="text"></wm-form-field> 
                            <wm-form-field name="form_field8" displayname="Image Url" show="false" primary-key="false" generator="assigned" key="imageUrl" type="string" readonly="false" required="false" widget="text" maxchars="255" placeholder="Enter value" inputtype="text" defaultvalue="bind:Variables.bookData.dataSet.imageUrl"></wm-form-field> 
                            <wm-form-field name="form_field7" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="1" widget="number" placeholder="Enter value" inputtype="number"></wm-form-field> 
                            <wm-form-action key="save" display-name="Done" show="true" class="form-save btn-primary full-width done" title="Done" action="saveAction($event)" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                        </wm-liveform> 
                    </wm-container> 
                </wm-segment-content> 
            </wm-segmented-control> 
        </wm-page-content> 
    </wm-content> 
</wm-page>