<wm-partial data-ng-controller="LeftNavPageController" type="leftnav" name="partial1"> 
    <wm-nav type="pills" layout="stacked" name="nav1" height="100%" backgroundimage="resources/images/imagelists/bg.png"> 
        <wm-nav-item name="nav_item1"> 
            <wm-anchor caption="WaveReads" backgroundcolor="TRANSPARENT" on-click="leftNavToggleBtnClick($event, $scope)" name="leftNavToggleBtn" iconclass="wi wi-bars" class="h4" fontweight="normal" margin="unset unset unset 0px" padding="0px"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item2"> 
            <wm-anchor caption="Home" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage-Main.invoke()" name="anchor4_2" iconwidth="0" badgevalue="bind:Variables.allBooks.dataSet.data.length" margin="unset unset unset 0px" padding="unset unset unset 0em"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item3"> 
            <wm-anchor caption="Categories" name="anchor4" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage_CategoryItems.invoke()" iconwidth="0" badgevalue="bind:Variables.TotalCategories.dataSet.data.length" padding="unset unset unset 0em"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item4"> 
            <wm-anchor caption="About" name="anchor5" backgroundcolor="TRANSPARENT" on-click="Variables.goToPage_About.invoke()" iconwidth="0" padding="unset unset unset 0em"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>