<wm-partial data-ng-controller="BookListPageController" name="partial1"> 
    <wm-list listclass="list-inline" name="bookList" itemsperrow="3" dataset="bind:Variables.bookList.dataSet" on-click="bookListClick($event, $scope);goToPage-Details"> 
        <wm-listtemplate layout="blank" name="listtemplate2"> 
            <wm-container name="container2_1" class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat"> 
                <wm-picture name="bookPic" picturesource="bind:Variables.bookList.dataSet[$i].imageUrl" on-click="bookPicClick($event, $scope);goToPage-Details" shape="rounded" height="100pt"></wm-picture> 
            </wm-container> 
        </wm-listtemplate> 
    </wm-list> 
</wm-partial>