<wm-page data-ng-controller="iconsPageController" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-icon name="icon1" iconclass="wi wi-star-border fa-3x" iconsize="2em"></wm-icon> 
        </wm-page-content> 
    </wm-content> 
</wm-page>