<wm-partial data-ng-controller="CommonPageController" name="CommonPage"> 
    <wm-view name="loginDialogView" class="dialog-view" show="false"> 
        <wm-logindialog modal="true" name="CommonLoginDialog" on-error="CommonLoginDialogError($event, $scope)" on-success="CommonLoginDialogSuccess($event, $scope)" title="Login" iconclass="glyphicon glyphicon-log-in"> 
            <wm-form name="loginform"> 
                <wm-message scopedataset="loginMessage" class="app-login-dialog-message" name="loginmessage"></wm-message> 
                <wm-composite name="usernamefield"> 
                    <wm-label caption="Username" class="col-md-4" name="usernamelabel"></wm-label> 
                    <wm-text placeholder="Enter username" class="app-login-dialog-username" name="usernametext" autocomplete="off" autocorrect="off" autocapitalize="off"></wm-text> 
                </wm-composite> 
                <wm-composite name="passwordfield"> 
                    <wm-label caption="Password" class="col-md-4" name="passwordlabel"></wm-label> 
                    <wm-text type="password" placeholder="Enter password" class="app-login-dialog-password" name="passwordtext" autocomplete="off" autocorrect="off" autocapitalize="off"></wm-text> 
                </wm-composite> 
            </wm-form> 
            <wm-dialogactions name="loginactions"> 
                <wm-button class="btn-primary" caption="Sign in" name="loginbutton"></wm-button> 
            </wm-dialogactions> 
        </wm-logindialog> 
    </wm-view> 
    <wm-container name="offlineContainer" show="bind:!APP_RUN_MODE || (!Variables.isAppOnline.dataSet.dataValue &amp;&amp; Variables.showOfflineMessage.dataSet.dataValue)" display="block" width="100%" class="offline-container" height="100%"> 
        <wm-container name="container2" class="offline-container-content"> 
            <wm-icon name="icon1" iconclass="fa fa-ban" iconsize="1.2em"></wm-icon> 
            <wm-label name="label3" caption="Internet not available" fontsize="1.2" fontunit="em" paddingleft="10"></wm-label> 
            <wm-anchor name="retryLink" class="pull-right" paddingright="20" fontsize="1.2" fontunit="em" caption="Ok" on-click="retryLinkClick($event, $scope)" show="true"></wm-anchor> 
        </wm-container> 
    </wm-container> 
</wm-partial>