.app-load-active .offline-container {
    display: none !important;
}
#wm-common-content .offline-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    opacity: 0;
    transition: opacity 1s linear;
}
#wm-common-content .offline-container .offline-container-content {
    position: absolute;
    bottom: 0;
    background-color: #273647;
    padding: 5pt 10pt;
    width: 100%;
}
#wm-common-content .offline-container:not(.ng-hide) {
    opacity: 1;
}
.wm-app.wm-app-offline .app-mobile-navbar .navbar .navbar-nav>li>a.btn-search {
    display: none;
}