<wm-page data-ng-controller="AddCategoryPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" backbuttoniconclass="wi wi-arrow-left" title="Add Category"> 
        <wm-anchor name="anchor1" iconclass="wi wi-check" caption="" on-click="anchor1Click($event, $scope)" class="done-btn" show="bind:!APP_RUN_MODE || Widgets.categoryName.datavalue.length > 0"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-text name="categoryName" placeholder="Enter Category Name, eg.Loaned" autofocus="true" class="category-input" required="true" on-keypress="categoryNameKeypress($event, $scope)" on-keydown="categoryNameKeydown($event, $scope)"></wm-text> 
        </wm-page-content> 
    </wm-content> 
</wm-page>