<wm-page data-ng-controller="noSearchBooksPageController"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-container name="noBookContainer" horizontalalign="left" class="padded"> 
                <wm-container name="container6" horizontalalign="center"> 
                    <wm-container name="container7" horizontalalign="center"> 
                        <wm-label caption="Let us know what you read." name="label3" class="text-info" fontunit="em"></wm-label> 
                    </wm-container> 
                </wm-container> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>