<wm-page data-ng-controller="DetailsPageController" name="page"> 
    <wm-mobile-navbar name="mobile_navbar1" title="Details" backbuttoniconclass="wi wi-back" on-backbtnclick="mobile_navbar1Backbtnclick($event, $scope)"> 
        <wm-anchor name="editBtn" caption="" iconclass="wi wi-mode-edit" on-click="editBtnClick($event, $scope);Variables.addBookManualPage.invoke()" show="bind:Variables.bookDetailsPage.dataSet.book.id > 0" iconposition="left" tabindex="0s"></wm-anchor> 
        <wm-anchor name="deleteBtn" caption="" on-click="deleteBtnClick($event, $scope);LIBRARYExecuteUpdateEmptyCategoryImage" show="bind:Variables.bookDetailsPage.dataSet.book.id > 0" iconposition="left" iconclass="wi wi-delete"></wm-anchor> 
        <wm-anchor class="add-btn" caption="" type="button" on-click="addBtnClick($event, $scope);Variables.addBookManualPage.invoke()" iconclass="wi wi-plus" show="bind:!Variables.bookDetailsPage.dataSet.book.id" name="addButton" iconposition="left"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1" class="book-detailspage"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-container name="BookHeader23"> 
                <wm-layoutgrid name="BookHeader" padding="unset 10px"> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn1_1"> 
                            <wm-container name="container1"> 
                                <wm-container name="bgContainer" backgroundrepeat="no-repeat" horizontalalign="center" display="inline-block" class="bg-image-container big thumbnail" backgroundposition="center,center" margin="40px unset 25px unset" padding="5px"> 
                                    <wm-picture name="bookPicture" picturesource="bind:Variables.bookDetailsPage.dataSet.book.imageUrl" height="150pt"></wm-picture> 
                                </wm-container> 
                            </wm-container> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow1"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1" horizontalalign="center"> 
                            <wm-label name="label1" caption="bind:Variables.bookDetailsPage.dataSet.book.title" fontunit="em" width="250" fontsize="1.5" margin="5px unset"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow2"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4" horizontalalign="center"> 
                            <wm-label name="authors" caption="bind:'by '+ Variables.bookDetailsPage.dataSet.book.author" fontsize="0.87" fontunit="em" show="bind:!APP_RUN_MODE || ( Variables.bookDetailsPage.dataSet.book.author != null &amp;&amp; Variables.bookDetailsPage.dataSet.book.author.length > 0)" margin="unset unset 10px unset"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow3"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7" horizontalalign="center"> 
                            <wm-rating name="rating1" datavalue="bind:Variables.bookDetailsPage.dataSet.book.rating" iconsize="1.2em" on-change="Variables.updateBookRating.invoke()" color="#d9534f" paddingunit="px" show="bind:Variables.bookDetailsPage.dataSet.book.id > 0"></wm-rating> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow5_1"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5" padding="unset 0.5em unset unset"> 
                            <wm-select datavalue="bind:Variables.bookDetailsPage.dataSet.book.readStatus" on-change="Variables.updateBookStatus.invoke()" placeholder="Select" name="readStatus" dataset="bind:Variables.READ_STATUS_ENUM.dataSet" datafield="value" displayfield="label" show="bind:Variables.bookDetailsPage.dataSet.book.id > 0" margin="20px unset 10px unset" padding=".5em unset"></wm-select> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6"> 
                            <wm-select on-change="Variables.LIBRARYUpdateCategoryDetails.invoke()" placeholder="" name="select5" datavalue="bind:Variables.bookDetailsPage.dataSet.book.category.cid" dataset="bind:Variables.CATEGORY_LIST.dataSet" datafield="cid" displayfield="name" disabled="false" show="bind:Variables.bookDetailsPage.dataSet.book.id > 0" margin="20px unset 10px unset" padding=".5em unset"></wm-select> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-container name="container3" padding="unset 10px"> 
                    <wm-label name="label3" caption="Description" class="h4 text-info text-uppercase" fontunit="em" padding="unset unset unset 0.1em"></wm-label> 
                    <wm-html name="html1" content="bind:Variables.bookDetailsPage.dataSet.book.description" fontunit="em" class="para text-info" padding="0em unset 1.5em unset">
                         bind:Variables.bookDetailsPage.dataSet.book.description 
                    </wm-html> 
                </wm-container> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>