<wm-page data-ng-controller="AboutPageController" name="page1"> 
    <wm-left-panel content="LeftNav" columnwidth="2" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" backbutton="false" title="About" leftnavpaneliconclass="wi wi-bars"></wm-mobile-navbar> 
    <wm-content name="content1" backgroundcolor="#15202D"> 
        <wm-nav name="leftnavigation" type="pills" layout="stacked" show="false"> 
            <wm-nav-item name="list_latestUpdate"></wm-nav-item> 
            <wm-nav-item name="list_inTheNews"></wm-nav-item> 
            <wm-nav-item name="nav_item5"> 
                <wm-nav-item name="list_share"></wm-nav-item> 
            </wm-nav-item> 
        </wm-nav> 
        <wm-layoutgrid name="layoutgrid1" height="100%"> 
            <wm-gridrow name="gridrow1"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn1" class="text-center" paddingtop="4" paddingunit="em"> 
                    <wm-picture name="picture1" picturesource="resources/images/imagelists/Logo_about3x.png" backgroundrepeat="no-repeat" backgroundcolor="transparent" shape="circle" width="48pt" height="48pt"></wm-picture> 
                    <wm-label name="label1" caption="WaveReads" class="h5 app-title" width="100%" margintop="0" marginbottom="0" marginright="0" marginleft="0" fontweight="bold"></wm-label> 
                    <wm-label name="label3" caption="bind:'Version '+Variables.appInfo.dataSet.appversion" class="text-muted full-width h6" width="100%" height="24" margintop="0" marginbottom="0" marginright="0" marginleft="0" fontunit="em" fontsize="0.8"></wm-label> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-gridrow name="gridrow2"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn4" paddingleft="1" paddingright="1" paddingunit="em"> 
                    <wm-html name="html1" textalign="center" margintop="30" paddingleft="20" paddingright="20">
                         Manage your personal inventory of books, by scanning the bar code and obtaining the book details from APIs or by manually adding the book details. Maintain your reading or wish lists or you can create different categories to manage your own digital book shelf. 
                    </wm-html> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-gridrow name="gridrow3"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn7" class="text-center" paddingtop="5" paddingunit="em"> 
                    <wm-anchor name="anchor2" backgroundimage="resources/images/imagelists/Logo_wavemaker3x.png" backgroundrepeat="no-repeat" backgroundposition="center" backgroundsize="100pt, auto" caption="" height="50pt" class="wavemaker-icon" display="block">
                         BOYINA 
                    </wm-anchor> 
                    <a href="http://www.wavemaker.com" target="_blank"></a> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
    </wm-content> 
</wm-page>