body {
    -webkit-overflow-scrolling: touch;
}
.wm-app .app-left-panel {
    width: 70% !important;
}
.wm-app .btn-secondary:hover,
.wm-app .btn-secondary:focus {
    color: inherit;
    border-color: #273647;
    background-color: #273647;
    border-radius: 3pt;
}
.app-livelist .app-livelist-container li.app-list-item {
    float: left;
}
.detailsView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
/** APP left panel **/

.wm-app .wm-mobile-app-left-panel {
    transition: none;
}
.wm-app .wm-mobile-app-left-panel.slide-in {
    width: 90%;
}
.wm-app .app-left-panel .nav li a {
    text-transform: capitalize;
    font-size: 12pt;
    font-weight: normal;
}
/** mobile navbar ***/

.wm-app .app-mobile-navbar .navbar .navbar-header .navbar-brand>* {
    text-transform: capitalize;
    padding-left: 6pt;
}
.wm-app .app-page-content .app-page-content-loader .loader {
    height: 2pt;
    background: rgba(0, 0, 0, 0.6);
}
.wm-app .app-page-content .app-page-content-loader .loader:before {
    height: 2pt;
    background-color: #f4f4f4;
}
.wm-app .app-mobile-navbar .navbar .navbar-nav.navbar-left >li i {
    font-size: 14pt;
}
.wm-app .app-mobile-navbar .navbar .navbar-nav > li > .leftnavpaneliconclass {} .app-livelist .list-group {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.wm-app .form-control.app-select,
.wm-app .form-control:focus.app-select {
    color: white;
    background-color: gray;
}
/** toaster **/

.wm-app #toast-container {
    background-color: #273647;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.wm-app #toast-container .toast {
    width: 100%;
    box-shadow: none;
    opacity: 1;
    margin: 0;
    background-position: 10pt center;
}
.wm-app #toast-container .toast .toast-title {
    display: none;
}
.wm-app #toast-container .toast .toast-message {
    font-size: 10pt;
    line-height: 20pt;
}
/****** tabs ************/

.app-tabs .nav.nav-tabs>li a:focus {
    border-color: transparent;
    outline-color: transparent;
}
.app-tabs .nav.nav-tabs>li.active a:focus {
    outline: 0;
    border-color: transparent transparent #d9534f;
    border-bottom-width: 2px;
}
.wm-app .app-tabs > .nav-tabs {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.wm-app .app-tabs .tab-content {
    position: absolute;
    padding-top: 36pt;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
}
.wm-app .app-tabs .tab-content .tab-pane {
    overflow-y: auto;
}
.app-tabs .nav.nav-tabs>li {
    min-width: 80pt;
    text-align: center;
    margin-bottom: -1pt;
}
.app-tabs .nav.nav-tabs>li a {
    border-bottom-width: 3pt;
    padding: 10pt;
    font-weight: normal;
}
/******** Segmented ***************/

.wm-app .app-segmented-control .app-segments-container>ul>li.app-segment-content {
    /** Scroll bar in segmented content is not visible without this **/
    
    padding-left: 0;
    padding-right: 0;
}
/****************************************/
/***** app specific styles **************/
/****************************************/

.wm-app .app-left-panel .nav li,
.wm-app .app-right-panel .nav li {
    border-color: transparent;
}
.wm-app .app-title {
    color: #fff;
}
.wm-app .wavemaker-icon {
    position: fixed;
    bottom: 30pt;
    width: 100pt;
    left: calc(50% - 50pt);
}
.wm-app .app-left-panel .nav .app-nav-item .app-anchor .anchor-caption {
    padding-left: 6pt;
}
/****** live form ************/

.wm-app .app-liveform input.form-control.app-textbox,
.wm-app .app-liveform {
    padding: 10pt;
    box-shadow: none;
}
.wm-app .app-liveform .app-grid-layout .app-grid-row {
    border-color: #273647;
}
.wm-app .app-liveform .panel-footer {
    border-color: transparent;
    padding: 0;
}
.wm-app .app-form .form-action .btn,
.wm-app .app-liveform .form-action .btn {
    width: 92%;
    border-radius: 4px;
}
.wm-app .app-liveform .form-action {
    text-align: center;
    margin-top: 1em;
}
.wm-app .app-liveform .description textarea::-webkit-input-placeholder,
.wm-app .app-liveform input.form-control.app-textbox::-webkit-input-placeholder,
.wm-app .app-liveform .form-control.app-select::-webkit-input-placeholder {
    color: transparent;
}
.wm-app .app-liveform .app-grid-layout .app-grid-row .app-grid-column {
    border-width: 0;
}
/***** app specific styles ***********/

.wm-app .text-info {
    color: #ADB7C2;
}
.wm-app .padded {
    padding: 10pt;
}
.wm-app .form-control.category-input {
    color: #fff;
    background-color: #273647;
    height: 36pt;
}
button.form-save.btn-primary.done {
    padding: 0.5em 0;
    font-size: 1.5em;
}
.wm-app .scan-btn .btn-caption {
    line-height: 3em;
    vertical-align: top;
    padding-left: 10pt;
}
.wm-app .book-list {
    text-align: center;
    overflow: visible;
}
.wm-app .book-list+.no-data-msg {
    display: none;
}
.wm-app .thumbnail img {
    border-radius: 5pt;
    height: 90pt;
    min-width: 50pt;
    max-width: 25vw;
}
.wm-app .big.thumbnail {
    min-width: 100pt;
}
.wm-app .big.thumbnail img {
    max-width: none;
}
.wm-app .thumbnail {
    display: inline-block;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
}
.wm-app .thumbnail:before {
    content: "\f1ce";
    color: #D9534F;
    position: absolute;
    width: 100%;
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    animation: fa-spin 2s infinite linear;
    margin-top: 34pt;
    font-size: 20pt;
}
.wm-app .big.thumbnail:before {
    margin-top: 50%;
}
/************************************************************************
*                       Transform CSS for category book                 *
************************************************************************/

.black-con {
    transform: rotate(350deg);
    width: 85pt;
    height: 105pt;
    background: #000;
}
.white-con {
    transform: rotate(6deg);
    background: #fff;
}
.picture-con {
    transform: rotate(4deg);
}
.app-anchor .badge {
    top: 15pt;
    right: 20px;
}