<wm-page data-ng-controller="CategoryBookPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.headerName.dataSet.dataValue" backbutton="true" searchbutton="true" backbuttoniconclass="wi wi-back" searchbuttoniconclass="wi wi-search" on-search="Variables.getCategoryBooks.listRecords()" searchplaceholder="Search Books in Category" defaultview="actionview"> 
        <wm-anchor caption="" iconclass="wi wi-delete" on-click="anchor1Click($event, $scope)" class="delete-btn" name="deleteCategory" show="bind:Variables.headerName.dataSet.dataValue != 'Miscellaneous' &amp;&amp; Variables.isAppOnline.dataSet.dataValue"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" paddingunit="em"> 
            <wm-list listclass="list-inline book-list" name="allCategoryBookList" itemsperrow="3" dataset="bind:Variables.getCategoryBooks.dataSet" padding="1em unset unset unset"> 
                <wm-listtemplate layout="blank" name="listtemplate2"> 
                    <wm-container name="container2_1" class="thumbnail" backgroundimage="resources/images/imagelists/spinner-small.gif" backgroundposition="center, center" backgroundrepeat="no-repeat"> 
                        <wm-picture name="bookPic" picturesource="bind:Variables.getCategoryBooks.dataSet[$i].imageUrl" shape="rounded" on-click="bookPicClick($event, $scope);"></wm-picture> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-list> 
            <wm-container name="detailsView" class="detailsView" show="false" content="Details"></wm-container> 
            <wm-container horizontalalign="left" class="padded" name="container4" show="bind:Variables.getCategoryBooks.dataSet.data.length === 0"> 
                <wm-button class="btn-secondary" caption="ADD" type="button" fontsize="1" fontunit="em" display="inline-block" textalign="center" fontweight="bold" bordercolor="#d9534f" borderstyle="solid" borderwidth="2px" margin="unset unset 30px unset" padding="4.2em 2.5em" name="button1" on-tap="Variables.goToPageAddBookWithCategory.invoke()"></wm-button> 
                <wm-container horizontalalign="center" name="container5"> 
                    <wm-label caption="You haven't  added any books yet." class="text-info" fontunit="em" name="label1"></wm-label> 
                    <wm-container horizontalalign="center" name="container6"> 
                        <wm-label caption="Let us know what you read." class="text-info" fontunit="em" name="label2"></wm-label> 
                    </wm-container> 
                </wm-container> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>