<wm-page data-ng-controller="CategoryItemsPageController" name="page1"> 
    <wm-left-panel content="LeftNav" columnwidth="2" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" title="Categories" backbutton="false" searchbutton="true" on-search="Variables.LIBRARYExecuteGetCategoryList.invoke()" searchplaceholder="Search Categories" searchbuttoniconclass="wi wi-search" leftnavpaneliconclass="wi wi-bars" defaultview="actionview"> 
        <wm-anchor caption="" on-click="Variables.goToPage_AddCategory.invoke()" iconclass="wi wi-plus" name="anchor1" class="add-btn" show="bind:Variables.checkNetwork.dataSet.isOnline"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" paddingtop="1" paddingunit="em"> 
            <wm-list name="categoryList" itemsperrow="2" dataset="bind:Variables.LIBRARYExecuteGetCategoryList.dataSet" paddingunit="em" marginunit="em" listclass="list-group book-list" show="bind:(!APP_RUN_MODE || Variables.LIBRARYExecuteGetCategoryList.dataSet.content.length > 0 ) &amp;&amp; (Variables.checkNetwork.dataSet.isOnline)"> 
                <wm-listtemplate layout="gridlayout" name="listtemplate1"> 
                    <wm-layoutgrid class="gridlayout" name="layoutgrid1"> 
                        <wm-container display="inline-block" name="container1" marginunit="px" margintop="10"> 
                            <wm-container name="black" class="black-con"> 
                                <wm-container name="white" class="white-con"> 
                                    <wm-picture name="categoryCover" class="picture-con" picturesource="bind:Variables.LIBRARYExecuteGetCategoryList.dataSet.data[$i].coverImage ? Variables.LIBRARYExecuteGetCategoryList.dataSet.data[$i].coverImage : 'resources/images/imagelists/Icon_default book3x.png'" height="105pt" width="85pt" on-click="categoryCoverClick($event, $scope)"></wm-picture> 
                                </wm-container> 
                            </wm-container> 
                            <wm-label name="label1" width="100%" textalign="center" caption="bind:Variables.LIBRARYExecuteGetCategoryList.dataSet.data[$i].name.toLowerCase()+'('+Variables.LIBRARYExecuteGetCategoryList.dataSet.data[$i].booksCount+')'" margintop="1" marginunit="em" color="#567293" class="text-capitalize" fontunit="em"></wm-label> 
                        </wm-container> 
                    </wm-layoutgrid> 
                </wm-listtemplate> 
            </wm-list> 
            <wm-container name="container4" class="text-center"> 
                <wm-label name="label1" caption="You are Offline !" fontsize="2" fontunit="em" textalign="center" show="bind:Variables.checkNetwork.dataSet.isOffline" class="text-center" whitespace="normal"></wm-label> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>